
$red: #F92672;
$orange: #FD971F;
$yellow: #E6DB74;
$green: #A6E22E;
$blue: #66D9EF;
$purple: #AE81FF;
$gray-900: #272822;
$gray-100: #F8F8F2;
$gray-200: #DEDED8;
$gray-300: #C4C4BE;
$gray-400: #AAAAA4;
$gray-500: #90908A;
$gray-600: #757670;
$gray-700: #5B5C56;
$gray-800: #41423C;
$cyan: #66D9EF;
$teal: #b4d273;
$enable-rounded: false;
$body-bg: $gray-900;
$body-color: $gray-100;
$table-bg-level: 0;
$table-border-level: 0;
$table-color: $gray-900;
$table-hover-color: $gray-500;
$table-active-bg: $gray-300;
$btn-link-disabled-color: $gray-900;
$input-bg: $gray-800;
$input-color: $gray-200;
$input-group-addon-bg: $gray-600;
$nav-pills-link-active-color: $gray-800;
$nav-tabs-link-active-color: $gray-300;
$navbar-dark-active-color: $gray-800;
$breadcrumb-bg: $gray-800;
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $gray-300;
$pagination-color: $gray-300;
$pagination-bg: $gray-800;
$pagination-border-width: 0;
$pagination-hover-color: $gray-800;
$pagination-disabled-bg: $gray-700;
$dropdown-bg: $gray-800;
$dropdown-link-hover-bg: $gray-300;
$dropdown-header-color: $gray-300;
$dropdown-link-active-color: $gray-300;
$dropdown-link-hover-color: $gray-800;
$dropdown-color: $gray-100;
$dropdown-border-radius: 0;
$dropdown-divider-bg: $gray-900;
$dropdown-link-color: $gray-300;
$card-inner-border-radius: 0;
$card-cap-bg: $gray-800;
$card-bg: $gray-800;
$tooltip-bg: $gray-800;
$tooltip-border-radius: 0;
$modal-content-bg: $gray-800;
$modal-content-border-width: 0;
$alert-border-level: 0;
$alert-bg-level: 0;
$alert-color-level: 8.5;
$progress-border-radius: 0;
$list-group-bg: $gray-800;
$list-group-color: $white;
$list-group-active-color: $gray-900;
