<footer class="footer mt-auto py-3 bg-secondary text-light d-flex justify-content-center">
	<div class="row">
		<div class="col-12 d-flex justify-content-center footer-text">
			<small><a href="https://github.com/cheetosysst/Eiki">Eiki</a> is created by <a href="https://github.com/cheetosysst">Thect</a>, released under <a href="https://opensource.org/licenses/MIT">The MIT License</a>.</small>
		</div>
		<div class="col-12 d-flex justify-content-center footer-text">
			<small>
				<a href="#">常見問答</a> | <a href="#">隱私權政策</a> | <a href="#">聯絡信箱</a> | <a href="#">原始碼</a> 
			</small>
		</div>
	</div>
	<!-- <small><a href="https://github.com/cheetosysst/Eiki">Eiki</a> is created by <a href="https://github.com/cheetosysst">Thect</a>, released under <a href="https://opensource.org/licenses/MIT">The MIT License</a>.<br>
	<a href="#">常見問答</a> | <a href="#">隱私權政策</a> | <a href="#">聯絡信箱</a> | <a href="#">原始碼</a> -->
</small>
</footer>