<nav class="navbar sticky-bottom navbar-light text-light justify-content-center bg-secondary">
	<small><a href="https://github.com/cheetosysst/Eiki">Eiki</a> is created by <a href="https://github.com/cheetosysst">Thect</a>, released under <a href="https://opensource.org/licenses/MIT">The MIT License</a>.</small>
</nav>